*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  background-color: #222326;
  color: white; 
}

.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.main{
  display: flex;
  width: 100%; 
  justify-content: space-around;
  height: 50vh;
}

p{
  text-align: center;
}

